<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>BIZIAT_AddIn</Name><AddInID>{57c275f5-c60f-4850-95f0-d61a6fd32112}</AddInID><Description>Broome Intertidal Zone Ichnofossil Access Tools - A suite of tools to enable decision making regarding access to the Broome Ichnofossils located in the Intertidal Zone.</Description><Version>0.1</Version><Image>Images\dino_icon.png</Image><Author>Stafford Smith</Author><Company>Smith Field and Spatial</Company><Date>11/02/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="BIZIAT_AddIn_addin.py" namespace="BIZIAT_AddIn_addin"><ArcMap>
    <Commands>
        <Button caption="Zoom to Selected Features" category="BIZIAT_AddIn" class="ZoomToSelectedFeatures" id="BIZIAT_AddIn_addin.zoomSelectBtn" image="Images\zoom2.png" message="Zoom to Selected Features" tip="Zoom to Selected Features"><Help heading="Zoom to Selected Features">Zoom to Selected Features</Help></Button>
        <Button caption="Zoom To Full Extent" category="BIZIAT_AddIn" class="ZoomFull" id="BIZIAT_AddIn_addin.ZoomFull" image="Images\zoom3.png" message="Zoom To Full Extent" tip="Zoom To Full Extent"><Help heading="Zoom To Full Extent">Zoom To Full Extent</Help></Button>
        <Button caption="Clear Selection" category="BIZIAT_AddIn" class="ClearSelection" id="BIZIAT_AddIn_addin.clrSelect" image="Images\clrSelect.png" message="Clear Selection" tip="Clear Selection"><Help heading="Clear Selection">Clear Selection</Help></Button>
        <Button caption="Help Button" category="BIZIAT_AddIn" class="HelpButton" id="BIZIAT_AddIn_addin.help" image="Images\help.png" message="Help Button" tip="Help Button"><Help heading="Help Button">Help Button</Help></Button>
        <Tool caption="Create Study Area" category="BIZIAT_AddIn" class="CreateStudyArea" id="BIZIAT_AddIn_addin.crStudyArea" image="Images\crStudyArea.png" message="Create Study Area" tip="Create Study Area"><Help heading="Create Study Area">Create Study Area</Help></Tool>
        <ComboBox caption="Enter Tide Height" category="BIZIAT_AddIn" class="TideHeight" id="BIZIAT_TideHeight.combobox" itemSizeString="WWWWWW" message="Enter Tide Height" rows="4" sizeString="WWWWWW" tip="Enter Tide Height"><Help heading="Enter Tide Height">Enter Tide Height</Help></ComboBox>
        <Button caption="Calculate Tide Extents" category="BIZIAT_AddIn" class="CalcExtents" id="BIZIAT_CalcExtents.button" image="Images\extents.png" message="Calculate Tide Extents" tip="Calculate Tide Extents"><Help heading="Calculate Tide Extents">Calculate Tide Extents</Help></Button>
        <ComboBox caption="Choose Layer" category="BIZIAT_AddIn" class="ChooseLayer" id="BIZIAT_choose_layer.combobox" itemSizeString="WWWWWW" message="Choose Layer" rows="4" sizeString="WWWWWW" tip="Choose Layer"><Help heading="Choose Layer">Choose Layer</Help></ComboBox>
        <ComboBox caption="Choose Field" category="BIZIAT_AddIn" class="ChooseField" id="BIZIAT_ChooseField.combobox" itemSizeString="WWWWWW" message="ChooseField" rows="4" sizeString="WWWWWW" tip="ChooseField"><Help heading="ChooseField">ChooseField</Help></ComboBox>
        <ComboBox caption="Choose Analysis" category="BIZIAT_AddIn" class="ChooseAnalysis" id="BIZIAT_Analysis.combobox" itemSizeString="WWWWWW" message="Choose Analysis" rows="4" sizeString="WWWWWW" tip="Choose Analysis"><Help heading="Choose Analysis">Choose Analysis</Help></ComboBox>
        <ComboBox caption="Choose Value" category="BIZIAT_AddIn" class="ChooseValue" id="BIZIAT_ChooseValue.combobox" itemSizeString="WWWWWW" message="Choose the Attribute Value" rows="4" sizeString="WWWWWW" tip="Choose the Attribute Value"><Help heading="Choose the Attribute Value">Choose the Attribute Value</Help></ComboBox>
        <Button caption="Calculate Statistics" category="BIZIAT_AddIn" class="CalculateStatistics" id="BIZIAT_CalculateStatistics.button" image="Images\calc_stats.png" message="Calculate Statistics" tip="Calculate Statistics"><Help heading="Calculate Statistics">Calculate Statistics</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="BIZIAT_Toolbar" category="BIZIAT_AddIn" id="BIZIAT_1.toolbar" showInitially="true"><Items><Button refID="BIZIAT_AddIn_addin.zoomSelectBtn" /><Button refID="BIZIAT_AddIn_addin.ZoomFull" /><Button refID="BIZIAT_AddIn_addin.clrSelect" /><Tool refID="BIZIAT_AddIn_addin.crStudyArea" /><Button refID="BIZIAT_AddIn_addin.help" /></Items></Toolbar>
        <Toolbar caption="BIZIAT_Statistics" category="BIZIAT_AddIn" id="BIZIAT_Statistics.toolbar" showInitially="true"><Items><ComboBox refID="BIZIAT_TideHeight.combobox" /><Button refID="BIZIAT_CalcExtents.button" /><ComboBox refID="BIZIAT_choose_layer.combobox" /><ComboBox refID="BIZIAT_ChooseField.combobox" /><ComboBox refID="BIZIAT_ChooseValue.combobox" /><ComboBox refID="BIZIAT_Analysis.combobox" /><Button refID="BIZIAT_CalculateStatistics.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>